@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
/*
### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)
*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-cream);
  font-size: 14Px;
  box-sizing: border-box;
}

:root {
  --color-cream:hsl(30, 38%, 92%);
  --color-Darkcyan:hsl(143, 45%, 20%);
  --color-Darkcyan:hsl(158, 36%, 37%);
  --color-grayishblue:hsl(228, 12%, 48%);
  --color-white:hsl(0, 0%, 100%);
  --color-darkblue: hsl(212, 21%, 14%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-container {
  display: grid;
  grid-gap: 0;
  margin: 15px 18px;
  box-sizing: border-box;
  padding: 18px;
  width: 375px;
  border-radius: 18px;
}

img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 100%;
}

.card-texte {
  padding: 18Px 22px;
  background-color: var(--color-white);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-texte h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--color-grayishblue);
  letter-spacing: 5px;
  font-size: 12px;
}
.card-texte .card-title {
  padding: 12px 0;
  font-family: "Fraunces", serif;
  font-size: 28px;
  font-weight: 700;
  color: var(--color-darkblue);
  line-height: 30px;
}
.card-texte .card-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--color-grayishblue);
  padding-bottom: 20px;
}
.card-texte .prix {
  display: flex;
  text-align: center;
  align-items: center;
}
.card-texte .prix .price {
  font-family: "Fraunces", serif;
  font-size: 38px;
  font-weight: 700;
  color: var(--color-Darkcyan);
  padding-right: 20px;
  padding-bottom: 20px;
}
.card-texte span {
  text-decoration: line-through;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--color-grayishblue);
  padding-bottom: 20px;
  padding-top: 2px;
}

#myButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Darkcyan);
  border: 0;
  padding: 0 20px;
  text-align: center;
  color: var(--color-white);
  border-radius: 10px;
  width: 100%;
  height: 50px;
}
#myButton img {
  padding-top: 19px;
  padding-bottom: 16px;
  width: 100%;
  height: auto;
}
#myButton .innerbutton {
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.attribution {
  position: absolute;
  bottom: 30px;
}

@media only screen and (min-width: 1400px) {
  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .card-container img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: 385px;
    background-image: url("images/image-product-desktop.jpg");
  }
  .card-texte {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .card-texte .price {
    padding-bottom: 25px;
  }
}/*# sourceMappingURL=styles.css.map */